img{
    width:100%;
    height:100%;
    filter: brightness(50%);
  }
  
  .head{
    position: absolute;
    top:8%;
    left: 20%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    color:rgb(250,250,250);
    /* background-color: rgb(50,50,50); */
    font-size: 65px;
    padding: 2px 40px;
    border: rgb(100,100,100);
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
  }
  .btn1 {
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(50,180,0);
    color: white;
    font-size: 30px;
    padding: 2px 40px;
    border: rgb(0,0,0);
    cursor: pointer;
    border-radius: 1px;
    border-width: 5px;
  }
  
  .btn2 {
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1e88e5;
    color: white;
    font-size: 30px;
    padding: 2px 30px;
    border: rgb(255,255,255);
    cursor: pointer;
    border-radius: 1px;
    border-width: 50px;
  }
  
  .btn1:hover {
    background-color:rgb(50,150,0);
  }
  
  .btn2:hover {
    background-color:rgb(50,80,240);
  }